<div class="charts-wrapper">
  <div class="bar-chart-container">
    <ngx-charts-bar-vertical-2d
      [results]="podaciKolonaDijagram"
      [view]="view"
      [scheme]="colorScheme"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [barPadding]="2"
      [groupPadding]="5"
      [roundDomains]="true">
    </ngx-charts-bar-vertical-2d>
  </div>

  <div class="pie-charts-container">
    <div class="pie-block" *ngFor="let item of pitaDijagrami">
      <h3>{{ item.title }}</h3>
      <div class="pie-inner-block">
        <ngx-charts-pie-chart
          [view]="[250, 250]"
          [results]="item.results"
          [scheme]="colorScheme"
          [labels]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
