<nav class="navbar">
  <div class="navbar-brand">Vlasnik</div>
  <div class="navbar-buttons">
    <button class="btn-nav" routerLink="profil">Profil</button>
    <button class="btn-nav" routerLink="rezervacije">Rezervacije</button>
    <button class="btn-nav" routerLink="moje-vikendice">Moje vikendice</button>
    <div class="user-info">
      <img
        [src]="'http://localhost:8080/' + vlasnik.profilna_slika_path"
        alt="Profilna slika"
      />
      <span>{{ vlasnik.korisnicko_ime }}</span>
    </div>
    <button class="btn-nav" (click)="odjava()">Odjava</button>
  </div>
</nav>

<router-outlet></router-outlet>

